<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- Velocity Settings -->
    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver" p:order="1">
        <property name="viewClass" value="org.springframework.web.servlet.view.velocity.VelocityLayoutView"/>
        <property name="layoutUrl" value="layout/default.vm"></property>
        <property name="cache" value="false"/>
        <property name="prefix" value="/vm/"/>
        <property name="suffix" value=".vm"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="toolboxConfigLocation" value="/WEB-INF/config/toolbox.xml"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="attributesMap">
            <map>
                <!--Velocity Escape Tool-->
                <entry key="esc">
                    <bean class="org.apache.velocity.tools.generic.EscapeTool"/>
                </entry>
            </map>
        </property>
    </bean>
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation">
            <value>classpath:velocity.properties</value>
        </property>
    </bean>

</beans>