<footer>
    <div class="container">
        <div class="row footer-widgets">
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget mail-subscribe-widget">
                    <h4>D5潜水中心<span class="head-line"></span></h4>
                    <p>为注重品质的您提供最完美的潜水度假体验！
                    </p>
##                    <form class="subscribe">
##                        <input type="text" placeholder="mail@d5diving.com">
##                        <input type="submit" class="btn-system" value="Send">
##                    </form>
                </div>
                <div class="footer-widget social-widget">
                    <h4>关注我们<span class="head-line"></span></h4>
                    <ul class="social-icons">
                        <li>
                            <p><a href="http://weibo.com/u/6105748300">@D5潜水中心 </a></p>
                            <span>微博</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget twitter-widget">
                    <h4>微信公众号：<span class="head-line"></span></h4>
                    <div>
                        <img src="#staticUrl('/margo/images/d5-wechat.jpeg')">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
##                <div class="footer-widget flickr-widget">
##                    <h4>最新照片<span class="head-line"></span></h4>
##                    <ul class="flickr-list">
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-01.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-01.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-02.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-02.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-03.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-03.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-04.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-04.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-05.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-05.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-06.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-06.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-07.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-07.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-08.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-08.jpg">
##                            </a>
##                        </li>
##                        <li>
##                            <a href="#staticUrl('/margo/')images/flickr-09.jpg" class="lightbox">
##                                <img alt="" src="#staticUrl('/margo/')images/flickr-09.jpg">
##                            </a>
##                        </li>
##                    </ul>
##                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget contact-widget">
##                    <h4>D</h4>
                    <h4>联系我们</h4>
                    <p>D5潜水中心在世界各地设立了潜水基地，带给您极致风景、碧蓝海水、奇妙海洋生物的独特体验，经验丰富的PADI教练和专业的潜水装备，带着你徜徉在海水珊瑚间与鱼儿嬉戏，夕阳傍晚在海滩篝火旁弹唱品酒。

                    </p>
                    <ul>
                        <li><span>Phone Number:</span> 021 - 6054 6907</li>
                        <li><span>Email:</span> d5divingcentre@126.com</li>
                        <li><span>Website:</span> www.d5diving.com</li>
                        <li><span>Address:</span> 上海市黄浦区外马路725-731号老码头5号库206室</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2016 D5 - All Rights Reserved <a href="http://d5diving.com">d5diving.com</a></p>
                </div>
                <!-- .col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="/course.html">课程</a></li>
                        <li><a href="/equipment.html">器材</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>