<ul class="sidebar-menu">
    <li class="header">主菜单</li>
    <li class="treeview active">
        <a href="#baseUrl("/admin/dashboard")">
            <i class="fa fa-dashboard"></i> <span>面板主页</span>
            <span class="pull-right-container">
            ##              <small class="label pull-right bg-green">new</small>
            </span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>基础设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open">
            <li><a href="#"><i class="fa fa-circle-o"></i>主页</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>版块</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>关于我们</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Footer</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> SEO</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bookmark"></i> <span>内容设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open">
            <li><a href="#"><i class="fa fa-circle-o"></i>版块设置</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-area-chart"></i> <span>数据统计</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open">
            <li><a href="#"><i class="fa fa-circle-o"></i>基本数据</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>SEO设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open">
            <li><a href="#"><i class="fa fa-circle-o"></i>主页</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>文章</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>搜索引擎优化</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>RSS</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open">
            <li><a href="#"><i class="fa fa-circle-o"></i>用户统计</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>用户管理</a></li>
        </ul>
    </li>



    #if($sec.allGranted("securitymanager"))
        <li class="header">系统中心</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i> <span>系统管理</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu menu-open">
                <li><a href="#springUrl('/')admin/security/auth/list"><i class="fa fa-edit"></i> 权限设置</a></li>
                <li><a href="#springUrl('/')admin/security/role/list"><i class="fa fa-users"></i> 角色管理</a></li>
                <li><a href="#springUrl('/')admin/security/adminuser/list"><i class="fa fa-user"></i> 账户管理</a></li>
            </ul>
        </li>

        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    #end
</ul>