<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <link rel="stylesheet" href="#staticUrl('/mobile')/css/mui.min.css"/>
    <link rel="stylesheet" href="#staticUrl('/mobile')/css/style.css"/>
    <link rel="stylesheet" href="#staticUrl('/mobile')/css/mui.picker.min.css"/>


    <script src='#staticUrl('/mobile')/js/mui.min.js'></script>
    <script src="#staticUrl('/mobile')/js/app.js"></script>
    <script src="#staticUrl('/mobile')/js/mui.picker.min.js"></script>
    <script src="#staticUrl('/mobile')/js/city.data.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://hdcdn.ichefeng.com/static/js/zepto.1.1.6.min.js"></script>

</head>

<body class="login-layout">
<div class="main-container">
    $!login_content
    <!-- /.main-content -->
</div>

</body>
</html>
