#set($layout = "layout/admin/admin.vm")
#define($admin_content)

<section class="content-header">
    <h1>
        Company
        <small>公司网站列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> 主面板</a></li>
        <li><a href="/admin/company/index">网站</a></li>
        <li class="active">列表</li>
    </ol>
</section>

<section class="content">


    <div class="box">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <th>#</th>
                <th>用户名</th>
                <th>website</th>
                <th>唯一识别</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>编辑</th>
                </thead>
                <tbody>
                    #foreach($company in $page.list)
                    <tr>
                        <td>$company.id</td>
                        <td>$company.company</td>
                        <td>$company.website</td>
                        <td>$company.identifyName</td>
                        <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!company.inTime)</td>
                        <td>$company.status</td>
                        <td>
                            <button class="btn btn-xs bg-olive btn-flat">修改</button>
                            <button class="btn btn-xs btn-primary btn-flat">账号管理</button>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <div class="box-footer">

            <a href="add" class="btn btn-primary">添加</a>
            <div class="page pull-right">
                <p class="floating">一共$page.pages 页 ，当前第$page.pageNum 页，共$page.total 条</p>
                <div id="page"></div>
            </div>
        </div>
    </div>
</section>
#end