##项目根目录
#macro( baseUrl $relativeUrl )$base.baseUrl()${relativeUrl}#end
##静态资源路径
#macro( staticUrl $relativeUrl )$base.staticUrl()${relativeUrl}#end
##静态文件版本
#macro( staticVersion )$base.staticVersion()#end
##开发者联系邮箱
#macro( devMail )$base.devMail()#end
##项目名称
#macro( projectName )JPro Bata#end
##公司名
#macro( company )上海帝屋体育文化发展有限公司#end


#macro(ueditor_js)
<script type="text/javascript" charset="utf-8" src="#springUrl('/static/ueditor.1.4.3.3/')ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="#springUrl('/static/ueditor.1.4.3.3/')ueditor.all.min.js"></script>
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="#springUrl('/static/ueditor.1.4.3.3/')lang/zh-cn/zh-cn.js"></script>
#end


#macro(tOf $status)
    #if($status)
    <span class="label label-success"><i class="fa fa-fw fa-check"></i></span>
    #else
    <span class="label label-warning"><i class="fa fa-fw fa-close"></i></span>
    #end
#end