#set($layout = "layout/admin/admin.vm")
#define($navActive)admin-role#end
#define($admin_content)

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    </ol>
</section>
<section class="content">
    主面板

    <hr/>

    test upload image
    <div>
        <form action="/commonservice/upload" method="post" enctype="application/x-www-form-urlencoded" >
             <input type="file"/>
            <input type="submit">
        </form>
    </div>
</section>



#end