#set($layout = "layout/admin/admin.vm")
#define($admin_content)
<ul class="breadcrumb">
    <li><a href="#springUrl('')/admin/panel/index">首页</a> <span class="divider">/</span></li>
    <li><a href="#">设置</a> <span class="divider">/</span></li>
    <li class="active">修改密码</li>
</ul>
<div class="well">
    <div class="alert alert-error">
        $!errorMsg

    </div>
</div>
#end
#define($itemjavascript)
#end