#set($layout = "/vm/web/margo/layout/index.vm")
#define($navKey)contact#end

#define($vm_content)

<div class="page-banner"
     style="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>D5</h2>
                <p>Aboutus</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="index.html">主页</a></li>
                    <li>D5</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Classic Heading -->
                <h4 class="classic-title"><span>D5</span></h4>

                <div>
                $article.content
                </div>

            </div>

            <div class="col-md-4">
                <h4 class="classic-title"><span>信息</span></h4>
                <p>#company()</p>
                <div class="hr1" style="margin-bottom:10px;"></div>
                <ul class="icons-list">
                    <li><i class="fa fa-globe">  </i> <strong>Address:</strong>上海市黄浦区外马路725-731号老码头5号库206室</li>
                    <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> d5divingcentre@126.com</li>
                    <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +86 021 6054 6907</li>
                </ul>
                <div class="hr1" style="margin-bottom:15px;"></div>
                <h4 class="classic-title"><span>D5潜水中心（长滩店）</span></h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-globe">  </i> <strong>Address:</strong>Balabag boat stn.1 boracay malay aklan 5608.</li>
                    <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +63 036 288 9293</li>
                    <li>&nbsp;</li>

                    <li><strong>Monday - Friday</strong> - 24 hours</li>
                    <li><strong>Saturday</strong> - 24 hours</li>
                    <li><strong>Sunday</strong> - 24 hours</li>
                </ul>

            </div>

        </div>

    </div>
</div>

#end