list.vm
#set($layout = "/vm/web/margo/layout/index.vm")
#define($navKey)equipment#end
#define($vm_content)
<div class="page-banner"
>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>器材</h2>
                <p>Equipment</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="index.html">主页</a></li>
                    <li>器材</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="row page-content">
                #foreach($article in $equipments)

                    #if($velocityCount%2==1)
                    </div>
                    <hr/>
                    <div class="row page-content">
                    #end

                    <div class="col-md-6">
                        <div class="col-md-4">
                            <a href="/view/equipment/$!{article.id}.html"><img src="$!article.imagePath"></a>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="/view/equipment/$!{article.id}.html">$!article.title</a></h2>
                            <p>$article.remark</p>
                            <p>

                                <a href="/view/equipment/$!{article.id}.html">详情>></a>
                            </p>
                        </div>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
#end