#set($layout = "layout/admin/admin.vm")
#define($navActive)admin-role#end
#define($admin_content)

<link rel="stylesheet" href="#staticUrl("/")dtree/dtree.css"/>

<script src="http://192.168.16.252:8010/cheshell-bi/static/dtree/dtree.js"></script>


<div class="content">
    <div class="col-md-6">

        <div class="box ">
            <div class="box-body">
                <form class="form-horizontal" action="save" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">角色名称</label>
                            <div class="col-xm-10">
                                <div class="col-xs-6"><input id="name" name="name" type="text"
                                                             placeholder="角色名称" class=" form-control "/></div>
                            </div>
                        </div>
                        <div class="pure-control-group">
                            <label for="auth">权限</label>
                            <div id="content">
                                <script type="text/javascript">
                                    d = new dTree('d');
                                    d.config.check = true;
                                    d.config.name = "auth";
                                        #foreach( $auth in $auths )
                                        d.add($auth.id,$auth.pid , '$auth.displayName', '#');
                                        #end
                                    document.write(d);
                                    d.closeAll();
                                </script>
                            </div>
                        </div>
                        <div class="pure-control-group">
                            <button type="submit" class="btn bg-olive btn-flat margin">提交</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
#end
#define($admin_js)
<script>
    $(document).ready(function () {
        $("#security-li").addClass("active open");
        $("#security-li ul").show();
        $("#security-li-role").addClass("active");
    });
</script>
#end