#set($layout = "layout/admin/admin.vm")
#define($admin_breadcrumb)
<li><a href="#">安全设置</a></li>
<li><a href="#">角色管理</a></li>
<li><a href="#">列表</a></li>
#end
#define($admin_content)
<div class="content">
    <h3>
        <a href="#springUrl('/admin/security/role/add')" class="btn btn-app">
            <i class="fa fa-plus"></i> 添加
        </a>
    </h3>
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-bordered table-hover">


                <thead>
                <tr>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    #foreach( $role in $list )
                    <tr #if($velocityCount%2==1)class="pure-table-odd"#end>
                        <td>$role.name</td>
                        <td>
                            <a class="btn btn-info btn-xs"
                               href="#springUrl('')/admin/security/role/$role.id/edit">修改</a>
                            <a class="btn btn-danger btn-xs"
                               href="javascript:if(confirm('确实要删除吗?'))location='#springUrl(
                                   '')/admin/security/role/$role.id/delete'">删除</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>
</div>

#end
#define($admin_js)
<script>
    $(document).ready(function () {
        $("#security-li").addClass("active open");
        $("#security-li ul").show();
        $("#security-li-role").addClass("active");
    });
</script>
#end